html, body {
  margin: 0;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;  
}

main {
  flex: 1;
  overflow: auto;
}

section {
  height: 100%;
  overflow: auto;
}

header {
  background: #0077A5;
}

footer {
  background-color: #0077A5;  
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00A758;
  font-weight: bold;
}
ul.topnav li {
  float: left;
  font-size: 22px;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: rgb(8, 150, 98);
  box-shadow: black 0.2em 0.3em 0.2em;
}
ul.topnav li a.active {
  background-color: #04AA6D;
}
ul.topnav li.right {
  float: right;
  margin-right: 50px;
  border-radius: 50%;
  border-style: dashed;
  border-color: white;
  border-width: 2px;
}
ul.topnav li.right a:hover:not(.active) {
  border-radius: 50%;
  box-shadow: none;
}
ul.topnav li.left {
  margin-left: 50px;
}

@media screen and (max-width: 600px) {

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.titulo {
  display: flex;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
}
.escrita {
  color: white;
  line-height: 0%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.escrita h1 {
  font-size: 2vw;
}

.escrita h2 {
  font-size: 2vw;
  font-weight: normal;
}

.mapaCanoas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.mapaCanoas p {
  font-weight: bold;
  font-size: 26px;
  margin-top: 140px;
  margin-right: 210px;
}
