.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fa;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;  
    overflow: auto;  
}

.container h1 {
    color: #333;
    margin-bottom: 2rem;
    font-size: 36px;
}

.container .principal {
    width: 100%;
    max-width: 90%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.container label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.container input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.container button, .espacamento, .botaoAdd {
    cursor: pointer;
    background-color: #0077A5;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.container button:hover, .espacamento:hover, .botaoAdd:hover {
    background-color: #066991;
}

.espacamento {
    margin-left: 10px;
}

.botaoAdd {
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 600px) {
    .container form {
        padding: 1rem;
    }
}

.contatos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.contatos td,
.contatos th {
    border: 1px solid #ddd;
    padding: 8px;
}

.contatos tr:nth-child(even) {
    background-color: #f2f2f2;
}

.contatos tr:hover {
    background-color: #ddd;
}

.contatos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #aa0a04;
    color: white;
}

